/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
.pc { display: none !important; }
.sp { display: block !important; }
}

.spacer10 {
    clear: both;
    width: auto;
    height: 10px;
}
.spacer20 {
    clear: both;
    width: auto;
    height: 20px;
}
.spacer30 {
    clear: both;
    width: auto;
    height: 30px;
}
